<%- include('../partials/head'); %>

    <body>
        <%- include('../partials/header'); %>
            <div class="container">
                <% if (messages.success) { %>
                    <div class="alert alert-success" role="alert">
                        <%- messages.success %>
                    </div>
                    <% } %>

                        <% if (messages.error) { %>
                            <div class="alert alert-danger" role="alert">
                                <%- messages.error %>
                            </div>
                            <% } %>

                                <div class="card">
                                    <div class="card-header">
                                        <ul class="nav nav-pills w-100">
                                            <li class="nav-pill active">
                                                <a class="nav-link">Gestión de Personas</a>
                                            </li>
                                            <li class="nav-pill ml-auto">
                                                <a class="nav-link active" href="/persona/add">Registro de personas</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body">

                                        <% if(data.length) { %>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Nombre</th>
                                                        <th scope="col">Rol</th>
                                                        <th scope="col">Apellido materno</th>
                                                        <th scope="col">Apellido paterno</th>
                                                        <th scope="col">Estado civil</th>
                                                        <th scope="col">Ocupacion o profesion</th>
                                                        <th scope="col">DNI</th>
                                                        <th scope="col">Direccion</th>
                                                        <th scope="col">telefeno</th>
                                                        <th width="200px">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i=0; i< data.length; i++) { %>
                                                        <tr>
                                                            <th scope="row">
                                                                <%= (i+1) %>
                                                            </th>
                                                            <td>
                                                                <%= data[i].persona_nombres%>
                                                            </td>
                                                            <td>
                                                                <%= data[i].persona_roles%>
                                                            </td>
                                                            <td>
                                                                <%= data[i].persona_ap_materno%>
                                                            </td>
                                                            <td>
                                                                <%= data[i].persona_ap_paterno%>
                                                            </td>
                                                            <td>
                                                                <%= data[i].persona_estado_civil%>
                                                            </td>
                                                            <td>
                                                                <%= data[i].persona_ocupacion_profesion%>
                                                            </td>
                                                            <td>
                                                                <%= data[i].persona_dni%>
                                                            </td>
                                                            <td>
                                                                <%= data[i].persona_direccion%>
                                                            </td>
                                                            <td>
                                                                <%= data[i].persona_telefono%>
                                                            </td>

                                                            <td>
                                                                <a class="btn btn-success edit"
                                                                    href="../persona/edit/<%=data[i].persona_id%>">Edit</a>
                                                                <a class="btn btn-danger delete"
                                                                    onclick="return confirm('Are You sure?')"
                                                                    href="../persona/delete/<%=data[i].persona_id%>">Delete</a>

                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                </tbody>
                                            </table>
                                            <% } %>

                                                <!-- if result is empty -->
                                                <% if(!data.length) { %>
                                                    <p class="text-center">No Persona found!</p>
                                                    <% } %>

                                    </div>
                                </div>
            </div>
            <%- include('../partials/footer'); %>
    </body>

    </html>